
.select {
  margin: 0 0 24px 0;
  background: #ffffff;;
  padding: 0 12px;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0,0,0,0.1)
}

select {
  width: 100%;
  outline: none;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  color: #323232;
  font-weight: lighter;
  height: 56px;
  -webkit-appearance: menulist-button;
}

.logo {
  position: relative;
  float: left;
  top: 8px;
  left: 0;
  display: block;
  width: 8.9375rem;
  height: 2rem;
  background: url('../../../app-public/logo.svg') no-repeat;
  text-indent: -150%;
  overflow: hidden;
}
